.chat-body{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    min-height: 380px;
    height: calc(100vh - 120px);
    background-color:var(--legacy-color-223);
    display: flex;
    flex-direction: column;
}
.chat-footer{
   /* min-height: 2em;*/
    height: 45px;
    display: flex;
    background-color: var(--legacy-color-218);  
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.chat-footer-text-area{     
    width: 90%;
    min-width: 35%;
    height: 100%;
    font-size: 0.7em;
    font-weight: 100;
    letter-spacing: 0.8pt;
    color: var(--legacy-color-217);
    display: flex;
    align-items: center;
    
}
.chat-footer-item{
    height: 100%;
    width: 3%;
    min-width: 25px;
    margin: 5px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;   
}
.chat-footer-item:hover{
    color: white;
    cursor: pointer;
}
.chat-footer-item-image{
    width: 60%;
}
.message-text{
    align-self: center;
    background-color:var(--legacy-color-218);  
    padding-top: 0.5em;
    border-width: 0;
    resize: none;   
    color: white;
    width: 100%;
    max-height: 100%;    
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
}
.message-text:focus, input:focus{
    outline: none;
}
/*----------------------*/
::-webkit-scrollbar {
    width: 0.5%;   
  }   
::-webkit-scrollbar-thumb {   
    background-color: transparent;
    border-radius: var(--legacy-radius-020);
}
.chat-body:hover::-webkit-scrollbar-track {       
    background: var(--legacy-color-224);        
}
.chat-body:hover::-webkit-scrollbar-thumb {
    background-color: var(--legacy-color-225);   
}
/*--------------------------
::-khtml-scrollbar {
    width: 0.5%;   
  }   
::-khtml-scrollbar-thumb {   
    background-color: transparent;
    border-radius: var(--legacy-radius-020);
}
.chat-body:hover::-khtml-scrollbar-track {       
    background: var(--legacy-color-224);        
}
.chat-body:hover::-khtml-scrollbar-thumb {
    background-color: var(--legacy-color-225);   
}
/*-------------------------------*/
/*-------------------------*/
::-moz-scrollbar {
    width: 0.5%;   
  }   
::-moz-scrollbar-thumb {   
    background-color: transparent;
    border-radius: var(--legacy-radius-020);
}
.chat-body:hover::-moz-scrollbar-track {       
    background: var(--legacy-color-224);        
}
.chat-body:hover::-moz-scrollbar-thumb {
    background-color: var(--legacy-color-225);   
}
/*-------------------------------*/
