/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f7fb;
}

app-root {
  height: 100%;
  display: block;
}
body.dark-mode {
  background: #0b1220;
  color: white;
}
